{% extends 'back/base.html' %}
{% load static %}

{% block headblock %}
<link rel="stylesheet" href="{% static 'admin/back/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/back/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
{% endblock %}

{% block mainblock %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Eclipses Table</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Eclipses</a></li>
              <li class="breadcrumb-item active">Table</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Date</th>
                    <th>Image</th>
                    <th>Eclipse Type</th>
                    <th>Title</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for e in eclipses %}
                  <tr>
                    <td>{{e.eclipse_date}}</td>
                    <td><img src="{{e.eclipse_image_url}}" alt="Avatar" height="60"></td>
                    <td>{{e.solar_lunar}}</td>
                    <td>{{e.eclipse_title}}</td>
                    <td>
                      <a href="{% url 'edit_eclipse' id=e.id %}"><button type="button" class="btn btn-block btn-default btn-xs">Edit</button></a>
                      <br/>
                      <button type="button" data-toggle="modal" data-target="#deleteModal" class="btn btn-block btn-danger btn-xs">Delete</button>
                    </td>
                  </tr>
                  <!-- Modal -->
                  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Delete Item</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Are you sure to delete "{{e.solar_lunar}} Eclipse - {{e.eclipse_title}}"?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <a href="{% url 'delete_item' id=e.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Date</th>
                    <th>Image</th>
                    <th>Eclipse Type</th>
                    <th>Title</th>
                    <th>Action</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock %}

{% block scripts %}
<!-- Datatables -->
<script src="{% static 'admin/back/dist/js/demo.js' %}"></script>
<script src="{% static 'admin/back/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/back/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/back/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'admin/back/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script>
    $(function () {
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
  </script>
{% endblock %}