{% extends 'front/base.html' %} {% load static %} {% block content %}

<body>
  <!-- Solar section -->
  <div class="section">
    <div class="row container">
      <h2 class="header">Solar Eclipses in 2020</h2>
      <p class="grey-text text-darken-3 lighten-3">
        A solar eclipse occurs when a portion of the Earth is engulfed in a
        shadow cast by the Moon which fully or partially blocks sunlight. This
        occurs when the Sun, Moon and Earth are aligned.
      </p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax">
      <img src="{% static 'admin/images/solar.jpg' %}" />
    </div>
  </div>
  <div class="section">
    <div class="row container">
      <ul class="collapsible popout">
        {% for eclipse in solarEclipse %}
        <li>
          <div class="collapsible-header" id="coll-header">
            <img
              style="margin-right: 10px;"
              width="24"
              height="24"
              src="{% static 'admin/images/sun.png' %}"
            />
            {{eclipse.eclipse_title}}
          </div>
          <div class="collapsible-body">
            {{eclipse.eclipse_info|safe}}
            <br />
            <center>
              <div class="container">
                <h5>Days left:</h5>
                {{eclipse.eclipse_datetime}}
                <ul id="solar{{eclipse.id}}ul-countdown">
                  <li id="li-countdown">
                    <span id="solar{{eclipse.id}}days"></span>days
                  </li>
                  <li id="li-countdown">
                    <span id="solar{{eclipse.id}}hours"></span>Hours
                  </li>
                  <li id="li-countdown">
                    <span id="solar{{eclipse.id}}minutes"></span>Minutes
                  </li>
                  <li id="li-countdown">
                    <span id="solar{{eclipse.id}}seconds"></span>Seconds
                  </li>
                </ul>
                <p id="solar{{eclipse.id}}timedone" style="color: black;"></p>
                <p style="visibility: hidden;" id="solar{{eclipse.id}}date">
                  {{eclipse.eclipse_datetime}}
                </p>
                <script>
                  $(document).ready(function() {
                    downCount('solar{{eclipse.id}}'); 
                  });
                </script>
              </div>
            </center>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax">
      <img src="{% static 'admin/images/solar2.jpg' %}" />
    </div>
  </div>
  <!-- Lunar section -->
  <div class="section">
    <div class="row container">
      <h2 class="header">Lunar Eclipses in 2020</h2>
      <p class="grey-text text-darken-3 lighten-3">
        A lunar eclipse occurs when the Moon moves into the Earth's shadow. This
        can occur only when the Sun, Earth, and Moon are exactly or very closely
        aligned, with Earth between the other two. A lunar eclipse can occur
        only on the night of a full moon. The type and length of a lunar eclipse
        depend on the Moon's proximity to either node of its orbit.
      </p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax">
      <img src="{% static 'admin/images/lunar.jpg' %}" />
    </div>
  </div>
  <div class="section">
    <div class="row container">
      <ul class="collapsible popout">
        {% for eclipse in lunarEclipse %}
        <li>
          <div class="collapsible-header" id="coll-header">
            <img
              style="margin-right: 10px;"
              width="24"
              height="24"
              src="{% static 'admin/images/moon.png' %}"
            />
            {{eclipse.eclipse_title}}
          </div>
          <div class="collapsible-body">
            {{eclipse.eclipse_info|safe}}
            <br />
            <center>
            <div class="container">
                <h5>Days left:</h5>
                <ul id="lunar{{eclipse.id}}ul-countdown">
                  <li id="li-countdown">
                    <span id="lunar{{eclipse.id}}days"></span>days
                  </li>
                  <li id="li-countdown">
                    <span id="lunar{{eclipse.id}}hours"></span>Hours
                  </li>
                  <li id="li-countdown">
                    <span id="lunar{{eclipse.id}}minutes"></span>Minutes
                  </li>
                  <li id="li-countdown">
                    <span id="lunar{{eclipse.id}}seconds"></span>Seconds
                  </li>
                </ul>
                <p id="lunar{{eclipse.id}}timedone" style="color: black;"></p>
                <p style="visibility: hidden;" id="lunar{{eclipse.id}}date">
                  {{eclipse.eclipse_datetime}}
                </p>
                <script>
                  $(document).ready(function() {
                    downCount('lunar{{eclipse.id}}');
                  });
                </script>
              </div>
            </center>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax">
      <img src="{% static 'admin/images/lunar2.jpg' %}" />
    </div>
  </div>

  <script
    type="text/javascript"
    src="{% static 'admin/js/countdown.js' %}"
  ></script>
</body>

{% endblock %}
